<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiuwei.mapper.UserMapper">
    <select id="selectUser" resultType="com.xiuwei.pojo.User">    <!--resultType="User"或resultType="user"也行。-->
        select * from mybatis.user;
    </select>
</mapper>
