<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

   <import resource="Spring-DAO.xml"/>

    <bean id="userMapper" class="xiuwei.mapper.UserMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <!-- 使用SqlSessionDaoSupport，进一步简化。（了解即可）
         如果使用这个方法，'Spring-DAO.xml'里'bean id="sqlSession"' 部分可以删掉。
    -->
    <bean id="userMapper2" class="xiuwei.mapper.UserMapperImpl2">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
</beans>