<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 注册bean -->
    <bean id="userService" class="com.xiuwei.service.UserServiceMySQLImpl" />
    <bean id="afterLog" class="com.xiuwei.log.AfterLog" />
    <bean id="beforeLog" class="com.xiuwei.log.BeforeLog" />
    <bean id="deleteMethodMoreWork" class="com.xiuwei.log.DeleteMethodMoreWork" />

    <!--方式一：使用原生spring api接口-->
    <!-- 配置aop，需要导入aop的约束 -->
    <aop:config>
        <!-- 切入点：expression: 表达式，execution(要执行的位置！ * * * * *) ，
            5个星代表：public等修饰词 返回值 类名 方法名 参数。下面的第一个星表示match任何返回值。 第二个星表示match任何方法。 (..)表示任意格式个参数（0或多个)  -->
        <aop:pointcut expression="execution(* com.xiuwei.service.UserServiceMySQLImpl.*(..))" id="logPointCut" />
        <!-- 只针对delete 方法的切入点，很具体的一个表达式。 -->
        <aop:pointcut expression="execution(public int com.xiuwei.service.UserServiceMySQLImpl.delete(int))" id="deleteMethodPointCut" />

        <aop:advisor advice-ref="beforeLog" pointcut-ref="logPointCut" />
        <aop:advisor advice-ref="afterLog" pointcut-ref="logPointCut" />

        <aop:advisor advice-ref="deleteMethodMoreWork" pointcut-ref="deleteMethodPointCut"/>
    </aop:config>

</beans>