<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 注册bean -->
    <bean id="userService" class="com.xiuwei.service.UserServiceMySQLImpl" />

    <!--方式3：使用自定义类-->
    <bean id="anno" class="com.xiuwei.anno.AnnotationPointCut" />
    <!-- 开启注解支持。 注意属性proxy-target-class：JDK实现(默认,proxy-target-class="false")， cglib实现(proxy-target-class="true")-->
    <aop:aspectj-autoproxy proxy-target-class="false"/>

</beans>